<div class="mat-elevation-z8">

  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        <div mat-sort-header>Title</div>

      </th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        <div mat-sort-header>
          <mat-form-field class="mr-1" style="width:88px;">
            <!-- <mat-label>Type</mat-label> -->

            <mat-label>Type</mat-label>
            <mat-select panelWidth="150px" matInput multiple (selectionChange)="filterForType($event)">
              <!-- <mat-select-trigger>
                <mat-icon>filter</mat-icon>
              </mat-select-trigger> -->
              @for (food of types; track food) {
              <mat-option [value]="food">{{food}}</mat-option>
              }
            </mat-select>


          </mat-form-field>
        </div>

      </th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>
        <div mat-sort-header>
          <mat-form-field class="mr-1" style="width:128px;">
            <!-- <mat-label>Type</mat-label> -->

            <mat-label>Author</mat-label>
            <mat-select panelWidth="180px" matInput multiple (selectionChange)="filterForAuthor($event)">
              <!-- <mat-select-trigger>
                <mat-icon>filter</mat-icon>
              </mat-select-trigger> -->
              @for (food of authors; track food) {
              <mat-option [value]="food">{{food}}</mat-option>
              }
            </mat-select>


          </mat-form-field>
        </div>


      </th>
      <td mat-cell *matCellDef="let row">{{row.author}}</td>
    </ng-container>
    <ng-container matColumnDef="beverage_type">
      <th mat-header-cell *matHeaderCellDef>
        <div mat-sort-header>
          <mat-form-field class="mr-1" style="width:128px;">
            <!-- <mat-label>Type</mat-label> -->

            <mat-label>Beverage</mat-label>
            <mat-select panelWidth="180px" matInput multiple (selectionChange)="filterForBeverage($event)">
              <!-- <mat-select-trigger>
                <mat-icon>filter</mat-icon>
              </mat-select-trigger> -->
              @for (food of beverages; track food) {
              <mat-option [value]="food">{{food}}</mat-option>
              }
            </mat-select>


          </mat-form-field>
        </div>



      </th>
      <td mat-cell *matCellDef="let row">{{row.beverage_type}}</td>
    </ng-container>
    <ng-container matColumnDef="isDefault">
      <th mat-header-cell *matHeaderCellDef>
        <div mat-sort-header>Default</div>

      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.isDefault">check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="isPublic">
      <th mat-header-cell *matHeaderCellDef>
        <div mat-sort-header>Public</div>

      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.isPublic">check</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [pageSize]="pageSize"
                 [length]="dataSource.maxlength"
                 aria-label="Select page">
  </mat-paginator>
</div>