<mat-toolbar>
    <button (click)="save()" mat-icon-button title="Save profile" class="example-icon"
            aria-label="Example icon-button with share icon">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button title="Copy profile" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
        <mat-icon>file_copy</mat-icon>
    </button>
    <button mat-icon-button title="Delete profile" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button title="Share profile" class="example-icon"
            aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>


</mat-toolbar>
<div class="flex flex-row" style="padding:15px">
    <div class="flex flex-col w-2/6">
        <div class="p-2">
            <app-profile-details [edit]="true" [showButtons]="false" [profile]="profile"></app-profile-details>
        </div>
        <div class="m-2">
            <app-render-steps (selected)="onSelectedStep($event)" [selectable]="true"
                              [profile]="profile"></app-render-steps>
        </div>
        <div class="m-2">
            <mat-card *ngIf="profile">
                <mat-card-header>
                    <mat-card-title>
                        Stop
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="slider">
                        <div class="label">Stop at Weight ( <input class="inline-input"
                                [(ngModel)]="profile.target_weight"> g)</div>
                        <mat-slider ngDefaultControl min="0" max="600" step="1" discrete>
                            <input matSliderThumb [(ngModel)]="profile.target_weight">
                        </mat-slider>
                    </div>

                    <div class="slider">
                        <div class="label">Stop at Volume (<input class="inline-input"
                                [(ngModel)]="profile.target_volume"> ml)</div>
                        <mat-slider ngDefaultControl min="0" max="600" step="1" discrete>
                            <input matSliderThumb [(ngModel)]="profile.target_volume">
                        </mat-slider>

                    </div>
                    <div *ngIf="profile.target_volume>0">
                        <div class="label">Track Volume Step</div>
                        <mat-select ngDefaultControl [(ngModel)]="profile.target_volume_count_start"> 
                            <mat-option *ngFor="let step of profile.steps" [value]="step.index" >{{step.name}}</mat-option>       
                        </mat-select>
                    </div>
                    <h2>Limiter</h2>
                    <ul>
                    <li>To do: Flow limiter Range</li>
                    <li>To do: Pressure limiter Range</li>
                </ul>  
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="flex flex-col w-4/6" *ngIf="step">
        <div class="m-2">
            <mat-card *ngIf="profile">
                <mat-card-header>
                    <mat-card-title>
                        <app-editable>
                            <ng-template viewMode>{{step.name}}</ng-template>
                            <ng-template editMode>
                                <div class="">
                                    <mat-form-field class="flex">
                                        <input type="text" matInput [(ngModel)]="step.name" focusable
                                               editableOnEnter>
                                    </mat-form-field>
                                </div>
                            </ng-template>
                        </app-editable>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div style="height:100px">
                        <app-render-step [step]="step"></app-render-step>
                    </div>
                    <br>
                    <h2>1. Temperature</h2>
                    <div class="slider">
                        <div class="label">Temperature ( <input class="inline-input"
                                (ngModelChange)="stepChanged(step)"
                                [(ngModel)]="step.temperature"> °C)
                                </div>
                        <mat-slider ngDefaultControl min="50" max="100" step="1" discrete>
                            <input (ngModelChange)="stepChanged(step)" matSliderThumb
                                [(ngModel)]="step.temperature">
                        </mat-slider>
                    </div>
                    <h2>Goal</h2>
                    <mat-select ngDefaultControl (ngModelChange)="stepChanged(step)" [(ngModel)]="step.pump"> 
                          <mat-option [value]="pumpMode.pressure" >{{pumpMode.pressure}}</mat-option>
                          <mat-option [value]="pumpMode.flow">{{pumpMode.flow}}</mat-option>
                      </mat-select>
                    <div *ngIf="step.pump===pumpMode.pressure">
                    <div class="slider">
                        <div class="label">Pressure (<input class="inline-input"
                            (ngModelChange)="stepChanged(step)"
                            [(ngModel)]="step.pressure"> bar)</div>
                        <mat-slider ngDefaultControl min="0" max="16" step="1" discrete>
                            <input matSliderThumb (ngModelChange)="stepChanged(step)" [(ngModel)]="step.pressure">
                        </mat-slider>
                    </div>
                    <div class="slider" *ngIf="step.limiter">
                        <div class="label">Flow Limit (<input class="inline-input"
                            (ngModelChange)="stepChanged(step)"
                            [(ngModel)]="step.limiter.value"> ml/s)</div>
                        <mat-slider ngDefaultControl min="0" max="8" step="0.1" discrete>
                            <input matSliderThumb (ngModelChange)="stepChanged(step)" [(ngModel)]="step.limiter.value">
                        </mat-slider>
                    </div>
                </div>
                <div *ngIf="step.pump===pumpMode.flow">
                    <div class="slider">
                        <div class="label">Flow (<input class="inline-input"
                            (ngModelChange)="stepChanged(step)"
                            [(ngModel)]="step.flow"> ml/s</div>
                        <mat-slider ngDefaultControl min="0" max="15" step="0.1" discrete>
                            <input matSliderThumb (ngModelChange)="stepChanged(step)" [(ngModel)]="step.flow">
                        </mat-slider>
                    </div>
                    <div class="slider" *ngIf="step.limiter">
                        <div class="label">Pressure Limit (<input class="inline-input"
                            (ngModelChange)="stepChanged(step)"
                            [(ngModel)]="step.limiter.value"> bar)</div>
                        <mat-slider ngDefaultControl min="0" max="12" step="0.1" discrete>
                            <input matSliderThumb (ngModelChange)="stepChanged(step)" [(ngModel)]="step.limiter.value">
                        </mat-slider>
                    </div>
                </div>
                <div>
                    <div class="label">Transition Mode</div>
                    <mat-select ngDefaultControl (ngModelChange)="stepChanged(step)" [(ngModel)]="step.transition"> 
                          <mat-option [value]="transitionMode.fast" >{{transitionMode.fast}}</mat-option>
                          <mat-option [value]="transitionMode.smooth">{{transitionMode.smooth}}</mat-option>
                      </mat-select>
                </div>
                <div>
                    <h2>3. Maximum</h2>
                    <div class="slider">
                        <div class="label">Time (<input class="inline-input"
                            (ngModelChange)="stepChanged(step)"
                            [(ngModel)]="step.seconds"> s)</div>
                        <mat-slider ngDefaultControl min="0" max="1000" step="1" discrete>
                            <input matSliderThumb (ngModelChange)="stepChanged(step)" [(ngModel)]="step.seconds">
                        </mat-slider>
                    </div>
                    <div class="slider">
                        <div class="label">Volume (<input class="inline-input"
                            (ngModelChange)="stepChanged(step)"
                            [(ngModel)]="step.volume"> ml)</div>
                        <mat-slider ngDefaultControl min="0" max="500" step="1" discrete>
                            <input matSliderThumb (ngModelChange)="stepChanged(step)" [(ngModel)]="step.volume">
                        </mat-slider>
                    </div>
                    <div class="slider">
                        <div class="label">Weight (<input class="inline-input"
                            (ngModelChange)="stepChanged(step)"
                            [(ngModel)]="step.weight"> g)</div>
                        <mat-slider ngDefaultControl min="0" max="500" step="1" discrete>
                            <input matSliderThumb (ngModelChange)="stepChanged(step)" [(ngModel)]="step.weight">
                        </mat-slider>
                    </div>
                </div>
                <div>
                    <h2>4. Move on if</h2>
                    <ul>
                        <li>To do: pressure is over</li>
                        <li> To do: pressure is under</li>
                        <li>To do: flow is over</li>
                        <li>To do: flow is under</li>
                    </ul>
                </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="m-2">
            <mat-card *ngIf="profile">
                <app-profile-chart #chart [profile]="profile" [step]="step"></app-profile-chart>
            </mat-card>
        </div>
    </div>
</div>