<div class="flex flex-row p-2">
    <div [class]="selectedProfile? 'w-2/6' : 'w-full'">

        <app-profiles-list #profileList (onClick)="onClick($event)"></app-profiles-list>
    </div>
    @if(selectedProfile){
    <div class="w-4/6">
        <div class="flex flex-col m-2">
            <mat-toolbar>
                <button (click)="onEdit()" mat-icon-button title="Edit profile" class="example-icon"
                        aria-label="Example icon-button with menu icon">
                    <mat-icon>edit</mat-icon>
                </button>

                <span class="example-spacer"></span>
                <button (click)="onCopy()" mat-icon-button title="Copy profile" class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                    <mat-icon>file_copy</mat-icon>
                </button>
                <button (click)="onDelete()" mat-icon-button title="Delete profile" class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button title="Share profile" class="example-icon"
                        aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
                <button (click)="onSave()" mat-icon-button title="Download JSON profile" class="example-icon"
                        aria-label="Example icon-button with share icon">
                    <mat-icon>save_alt</mat-icon>
                </button>
                <button (click)="onSaveTCL()" mat-icon-button title="Download TCL profile" class="example-icon"
                        aria-label="Example icon-button with share icon">
                    <mat-icon>save_alt</mat-icon>
                </button>

                <button (click)="setFavorite()" mat-icon-button title="Add as Favorite" class="example-icon"
                        aria-label="Example icon-button with share icon">
                    <mat-icon [color]="isFavorite ? 'warn' : 'default'">favorite-icon</mat-icon>
                </button>

            </mat-toolbar>
            <div class="m-2" style="height:350px">
                <app-profile-chart [profile]="selectedProfile"></app-profile-chart>
            </div>
            <div class="m-2">
                <app-profile-details [showButtons]="true" [profile]="selectedProfile"></app-profile-details>
            </div>
            <div class="m-2">
                <app-render-steps [profile]="selectedProfile"></app-render-steps>
            </div>
        </div>
    </div>
    }
</div>