@if(album){

<app-album-edit [album]="album"></app-album-edit>

<!-- @if(profile.type===flow){
<app-basic-profile-edit [profile]="profile"  [step]="currentStep"></app-basic-profile-edit>
}
@if(profile.type===pressure){
<app-basic-profile-edit [profile]="profile" [step]="currentStep"></app-basic-profile-edit>
}
@if(profile.type===advanced && profile.title.startsWith("D-Flow")){
<app-d-flow-profile-edit [profile]="profile"></app-d-flow-profile-edit> 
}
@if(profile.type===advanced && !profile.title.startsWith("D-Flow")){
<app-advanced-profile-edit [profile]="profile" [step]="currentStep"></app-advanced-profile-edit>
} -->




}