<h1>Login</h1>

@if (errorMessage) {
<div>{{ errorMessage }}</div>
}



<div *ngIf="userdata$ | async as user; else loginButton">
    <p>Welcome, {{ user.displayName ? user.displayName : user.email }}!</p>
    <button mat-raised-button (click)="logout()">Logout</button>
</div>

<ng-template #loginButton>



    <form class="flex flex-col p-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="flex">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Your email" value="" formControlName="email">
        </mat-form-field>

        <mat-form-field class="flex">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Your secret password" formControlName="password">
        </mat-form-field>
    </form>

    <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <button mat-raised-button type="submit">Sign In via Email</button>
            &nbsp;
            <button mat-raised-button (click)="login()">Login with Google</button>
        </div>
    </form>
</ng-template>