<div class="label">{{title}}
    <input matInput type="number" class="inline-input" [step]="increment" [(ngModel)]="ngModel" (ngModelChange)="ngModelChange">
    <span matTextSuffix>{{unit}}</span>
</div>
<div class="slider">
    <button title="Minus" (click)="decreaseSlider()" class="example-icon" aria-label="Minus">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-slider ngDefaultControl [min]="min" [max]="max" [step]="increment" discrete>
        <input matSliderThumb [(ngModel)]="ngModel" (ngModelChange)="ngModelChange">
    </mat-slider><button title="Plus" (click)="increaseSlider()" class="example-icon" aria-label="Plus">
        <mat-icon>add</mat-icon>
    </button>
</div>