@if(profile){
<div style="background:green;" class="w-full">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Steps
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if(!selectable){
            <ul>
                @for(step of profile.steps; track profile.id){
                <li>
                    <app-render-step [step]="step"></app-render-step>
                </li>
                }
            </ul>
            }
            @if(selectable){
            <mat-selection-list [multiple]="false">
                @for(step of profile.steps; track profile.id){
                <mat-list-option [selected]="step===currentStep" (click)="onSelected(step)"
                                 [value]="step">
                    {{step.name}}
                    <button (click)="removeStep(step)" style="float:right" title="Remove Step" class="example-icon"
                    aria-label="Remove Step">
                    <mat-icon>delete</mat-icon>
                    </button></mat-list-option>
                    
                }
            </mat-selection-list>
            <button (click)="addStep()" title="Add Step" class="example-icon"
            aria-label="Add Step">
            <mat-icon>add</mat-icon>
            </button>
            }
        </mat-card-content>
    </mat-card>
</div>
}