.inline-input {
    width: 25px;
    text-align: right; 
}
::ng-deep .multiline-tooltip {
    white-space: pre-line !important;
}

.title {
    margin-top: 5px;
    font-weight: bold;
}

mat-slider {
    width: 100%;
    margin-left: 0px;
}

hr { margin: 15px 0 15px 0; }