<div class="flex-center flex-col p-5">


    <div class="form-widget w-full" aria-live="polite">
        <h1 class="header">Login or Register</h1>
        <p class="description">Sign in via magic link with your email below</p>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
            <div>
                <mat-form-field class="flex w-full">
                    <mat-label>Email</mat-label>
                    <input
                           matInput
                           id="email"
                           formControlName="email"
                           class="inputField"
                           type="email"
                           placeholder="Your email" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="flex w-full">
                    <mat-label>Password</mat-label>
                    <input
                           matInput
                           id="password"
                           formControlName="password"
                           class="inputField"
                           type="password"
                           placeholder="Your password if not using OTP" />
                </mat-form-field>
            </div>
            <div class="flex flex-row">
                <div class="pr-2">
                    <button mat-raised-button type="submit" class="button block" [disabled]="loading">
                        {{ loading ? 'Loading' : 'Send magic link' }}
                    </button>
                </div>
                <div class="pr-2">
                    <button class="pr-2" mat-raised-button (click)="signInPassword(false)" class="button block"
                            [disabled]="loading">
                        {{ loading ? 'Loading' : 'Login with Password' }}
                    </button>
                </div>
                <div class="pr-2">
                    <button class="pr-2" mat-raised-button (click)="signInPassword(true)" class="button block"
                            [disabled]="loading">
                        {{ loading ? 'Loading' : 'Registering as new User' }}
                    </button>
                </div>
                <div class="pr-2">
                    <button class="p-px" mat-raised-button (click)="signInOAuth('github')" class="button block"
                            [disabled]="loading">
                        {{ loading ? 'Loading' : 'Sign in with Github' }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>