<div class="flex flex-row" style="padding:15px">
    <div class="flex">
        <app-profiles-list (onClick)="onClick($event)"></app-profiles-list>
    </div>
    @if(selectedProfile){
    <div class="flex">
        <div class="flex flex-col">
            <div style="height:350px">
                <app-profile-chart [profile]="selectedProfile"></app-profile-chart>
            </div>
            <app-profile-details [showButtons]="true" [profile]="selectedProfile"></app-profile-details>
            <app-render-steps [profile]="selectedProfile"></app-render-steps>

        </div>
    </div>

    }

</div>