<!-- The video -->
<video oncanplay="this.play()" onloadedmetadata="this.muted = true" autoplay muted id="myVideo">
    <source src="https://firebasestorage.googleapis.com/v0/b/decentprofile-95df0.appspot.com/o/IMG_0145.mp4?alt=media&token=fc5d6ce8-8e62-4bfe-8ef3-be8a89a1ba00"
            type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
    <h1>decentProfile</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maxime est omnis aliquid eum provident ut error?
        Beatae libero odit temporibus reprehenderit voluptatum, molestiae quidem? Porro ullam amet similique veritatis.
    </p>
    <!-- Use a button to pause/play the video with JavaScript -->
    <button matButton id="myBtn" (click)="login()">Login/Register</button>
</div>